{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="michael donnelly">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Silent Auction</title>

    <!-- Bootstrap core CSS -->
    <link href="http://robothijinks.com/~donnelly/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="http://robothijinks.com/~donnelly/bower_components/bootstrap/less/jumbotron.less" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'listings/starter-template.css' %}" rel="stylesheet">

  </head>

  <body>


			{% block content %}{% endblock %}

			
			

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://robothijinks.com/~donnelly/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
