{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="michael donnelly">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Bartell Theater Awards - Silent Auction</title>

    <!-- Bootstrap core CSS -->
    <link href="http://robothijinks.com/~donnelly/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="http://robothijinks.com/~donnelly/bower_components/bootstrap/less/jumbotron.less" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'listings/starter-template.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
		{% block jumbotron %}
			<h1>Bartell Theatre Awards Silent Auction</h1>
			<p>On July 12, 2014, the <a href='http://www.bartelltheatre.org/bartell-theatre-awards'>5th Annual Bartell Theatre Awards</a> will include a silent auction. Pre-bid here, and go to the Bartell Community Theatre to make sure you win.</p>
		{% endblock %}
      </div>
    </div>
    
    <div class="container">
		{% block content %}{% endblock %}
	</div>
	
	<footer>
		<p>Pablo, honey</p>
	</footer>

			
			

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://robothijinks.com/~donnelly/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
