{% extends "prebid/base.html" %}



{% block content %}
<div class="row">
	<div class="col-md-6" >


		<h2>{{ item.title }}</h2>

		<p>{{ item.description }}</p>

		{% if item.photo %}
			<a href="{% url 'item' item.id %}">
				<img src="{{ item.photo.url }}" width=100%/>
			</a>
		{% endif %}

	</div>
	<div class="col-md-6">

		<h3>Place your bid</h3>
		<div class="alert alert-info">
			{% load humanize %}
			{% if current_bid %}Current winning bid: <strong>${{ current_bid | floatformat:2 | intcomma }}</strong>
			{% else %}Starting bid: <strong>${{ item.minimumBid | floatformat:2 | intcomma }}</strong>
			{% endif %}
		</div>

		<form action="{% url 'item' item.id %}" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success" value="Bid Now" />
		</form>

	</div>
</div>


{% endblock %}